.contacts-container {
    padding-right: 5vw;
}

.contacts__list {
    width: 15vw;
    display: flex;
}

.contacts__item {
    width: 100%;
}

.contacts__link {
    display: flex;
    justify-content: center;
}

.contacts__item-icon {
    width: 40%;
    display: flex;
    align-items: center;
}

.contacts__item-icon:hover.icon {
    fill: var(--middle-dark);
}

