.payment-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.payment-form__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.payment-form__select-category,
.payment-form__date,
.payment-form__amount,
.payment-form__comment,
.payment-form__submit {
    border: 1px solid var(--dark);
    height: 2vw;
    border-radius: 3px;
    color: var(--dark);
    padding: 0 1vw;
}

.payment-form__amount {
    width: 9vw;
}

.payment-form__checkbox-label {
    color: var(--dark);
    font-size: 1vw;
    display: flex;
    align-items: center;
}

.payment-form__checkbox-container {
    height: 2vw;
    margin: 0 0.5vw;
    position: relative;
}

.payment-form__checkbox {
    width: 3vw;
    height: 100%;
    border-radius: 1vw;
    border: 1px solid var(--dark);
    background-color: var(--middle-light);
    transition: all 0.4s;
}

.payment-form__checkbox::before {
    content: '';
    width: 1.6vw;
    height: 1.6vw;
    border-radius: 50%;
    border: 1px solid var(--dark);
    background-color: var(--white);
    position: absolute;
    box-sizing: border-box;
    top: 0.2vw;
    left: 0.2vw;
    transition: all 0.4s;
}

.payment-form__checkbox:checked::before {
    left: 1.2vw;
}

.payment-form__comment {
    width: 25vw;
}


/* payment content */
.payment-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}