.payment-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.payment-form__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.payment-form__comment {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid var(--black);
}

.payment-form__select-category {
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid var(--black);
    /*border-width: 1px;*/
    /*border-color: var(--middle-dark);*/
    padding: 1px 2px;
    /*border-radius: 2px;*/
    /*box-sizing: border-box;*/
}

.payment-form__fieldset {
    display: flex;
}


/* payment content */
.payment-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}