.company-container {
    background-color: var(--white);
    padding-right: 2vw;
    height: 5vw;
    min-width: 15vw;
}

.company {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.company__text {
    display: contents;
    font-size: 2vw;
    color: var(--dark-grey);
}