.company-container {
    background-color: var(--white);
    padding-right: 1vw;
    height: 5vw;
}

.company {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company::before {
    content: "";
    width: 0.5vw;
    height: 0.5vw;
    border-width: 0 0.2vw 0.2vw 0;
    border-style: solid;
    border-color: var(--dark-grey);
    transform: translateX(-100%) translateY(-30%) rotate(45deg);
}

.company__text {
    font-size: 2vw;
    color: var(--dark-grey);
}