.nav-container {
    width: 5vw;
    background-color: var(--light);
}

.nav-container.visible {
    min-width: 15vw;
}

.nav__chevron-container {
    height: 2vw;
    display: flex;
    padding-right: 0.5vw;
    align-items: center;
    justify-content: flex-end;
}

.nav__chevron-container:hover {
    cursor: pointer;
}