.chevron::before {
    visibility: hidden;
    content: "";
    width: 0.5vw;
    height: 0.5vw;
    border-width: 0 0.2vw 0.2vw 0;
    border-style: solid;
    border-color: var(--dark-grey);
}

.chevron-left::before {
    visibility: visible;
    transform: translateX(-100%) translateY(-5%) rotate(135deg);
}

.chevron-down::before {
    visibility: visible;
    transform: translateX(-100%) translateY(-30%) rotate(45deg);
}

.chevron-right::before {
    visibility: visible;
    transform: translateX(-100%) translateY(-5%) rotate(-45deg);
}

.chevron-up::before {
    visibility: visible;
    transform: translateX(-100%) translateY(20%) rotate(-135deg);
}