.chevron {
    width: 0.5vw;
    height: 0.5vw;
    border-width: 0 0.12vw 0.12vw 0;
    border-style: solid;
    border-color: var(--dark);
}

.chevron--up {
    transform: rotate(-135deg);
}

.chevron--right {
    transform: rotate(-45deg);
}

.chevron--down {
    transform: rotate(45deg);
}

.chevron--left {
    transform: rotate(135deg);
}