.user-container {
    background-color: var(--dark);
    padding: 0.5vw;
    width: 5vw;
    height: 5vw;
    box-sizing: border-box;
}

.user {
    height: 100%;
    border-radius: 50%;
    background-color: var(--white);
}

.user__user-icon {
    width: 50%;
    height: 50%;
    transform: translateX(50%) translateY(50%)
}