@import "reset.css";

:root {
    --white: #ffffff;
    --light-grey: #f9f9f9;
    --middle-grey: #ebebeb;
    --dark-grey: #606060;
    --black: #000000;
}

body {
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
