@import "reset.css";

:root {
    --white: #ffffff;
    --light: #f9f9f9;
    --middle-light: #ebebeb;
    --middle-dark: #c0c0c0;
    --dark: #606060;
    --black: #000000;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
