.user-settings__item {
    height: 3vw;
    min-width: 15vw;
    font-size: 1.5vw;
    border: 1px solid var(--white);
    color: var(--dark);
    padding-right: 1vw;
    padding-left: 1vw;
    display: flex;
    align-items: center;
    transition: background-color 250ms, border 250ms;
}

.user-settings__item:hover {
    background-color: var(--middle-light);
    border-right: 1px solid var(--black);
    cursor: pointer;
}