.header {
    border-bottom: 1px solid var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* companies list */
.header__list {
    visibility: hidden;
    position: absolute;
    border: 1px solid var(--dark-grey);
    top: 5vw;
    right: 0;

}

.header__list-item {
    background-color: var(--white);
    height: 2.5vw;
    /*font-size: 2vw;*/
    color: var(--dark-grey);
}

.visible {
    visibility: visible;
}